.name { 
    grid-area: nam; 
    padding-left: 1em;
    padding-top: .25em;
    font-size: 5em;
}
.info h2{
    margin-bottom: 0;
}
.info { 
    grid-area: inf;
    text-align: center;
}
.projects { 
    grid-area: pro;
    padding: 1em;
    border-bottom: 5px solid black;
}
.nav-grid-container {
    display: grid;
    grid-template-areas:
      'nam nam nam nam inf inf'
      'nam nam nam nam inf inf'
      'pro pro pro pro pro pro';
    background-color: white;

}
.invisible{
    display: none;
}
.span-right{
    position: absolute;
    right: 5%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}
.px-2{
    padding-left: .5rem;
    padding-right: .5rem;
}
.dont-link:focus{
    outline: none;
}
.dont-link:link {
    text-decoration: none;
}
.dont-link:visited {
    text-decoration: none;
}
.dont-link:hover {
    text-decoration: none;
}
  
.dont-link:active {
    text-decoration: none;
}
@font-face {
    font-family: 'myfont';
    src: url(../../fonts/Myfont-Regular.otf);
}
  